
<div class="gf-form-group">
  <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.collection' placeholder="collection"></input>
  </div>
  <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.query' placeholder="query"></input>
  </div>
  <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.tagsField' placeholder="tags"></input>
  </div>
  <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.titleField' placeholder="title"></input>
  </div>
  <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.textField' placeholder="text"></input>
  </div>
 <div class="gf-form">
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.timeField' placeholder="time"></input>
  </div>
</div>

