<datasource-http-settings current="ctrl.current">
</datasource-http-settings>
<div class="tight-form">
	<h3 class="page-heading">Solr settings</h3>
	<div class="gf-form-group">
	  <div class="gf-form-inline">
		<div class="gf-form max-width-30">
		  <span class="gf-form-label width-16">Collection Name (Optional)</span>
		  <input class="gf-form-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-model="ctrl.current.jsonData.solrCollection" placeholder="Collection Name" min-length="0" data-provide="typeahead">
		</div>
	  </div>
	</div>
</div>
